//* ========================
//File: _variables.scss
//Author: Raphael Oliveira
//Purpose: Colors and other vars
//======================== */
$projectPath:"http://localhost:8080/";
$mBackground:#eaf0ff;
$mColor:#fff;
